[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "~=2.18"

[dev-packages]
pytest = "~=3.4"
"pytest-cov" = "~=2.5"
"twine" = "~=1.11"
"requests-mock" = "~=1.3"
